*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Digital-7;
  src: url(./assets/fonts/digital-7/digital-7.ttf);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background-color: aliceblue;
  width: 26em;
  height: 30em;
  border-radius: 5px;
  border: solid 1px darkgray;
  padding-top: 12px;
}

.screen {
  font-family: Digital-7;
  font-size: 2.5rem;
  letter-spacing: 3px;
  width: 80%;
  height: 15%;
  background-color: white;
  margin: 20px auto;
  border: solid 1px darkgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
}

.previous-number {
  font-size: 1.2em;
  color: lightslategray;
}

.current-number {
  font-size: 2em;
}

.buttons {
  height: 60%;
  width: 80%;
  margin: 20px auto;
  padding: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

button {
  cursor: pointer;
  font-size: 1em;
}

#zero {
  grid-column: 1 / span 2;
}

.decimal {
  font-size: 1.4em;
}

#division,
#minus {
  font-size: 1.5em;
}

.operator {
  background-color: orange;
  border: solid 1px;
  font-size: 1.3em;
}

.operator:hover {
  background-color: darkorange;
  color: white;
}

.operator.clicked {
  background-color: darkorange;
  color: white;
}

.backspace {
  font-size: 1.2em;
}

.clear,
.backspace,
.modulo {
  color: white;
  background-color: dimgray;
  border: none;
}

.clear:hover,
.backspace:hover,
.modulo:hover {
  background-color: grey;
  border: none;
}
